<!DOCTYPE html>
<htm
l lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jospeh Grantham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class='navbar navbar-dark bg-dark text-white'>
        Navbar
    </nav>
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-md-2 bd-sidebar">
                <div class="container">
                    <div class="row">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel mattis velit. Praesent vitae enim odio. Nulla ut rutrum lectus. Morbi vitae fringilla enim. Cras a facilisis lacus. Nunc vel suscipit lacus, non facilisis nulla. Sed efficitur semper posuere. Nullam porttitor ipsum blandit libero sagittis, eu sagittis lacus placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                    <div class="row">
                        placeholder text
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel mattis velit. Praesent vitae enim odio. Nulla ut rutrum lectus. Morbi vitae fringilla enim. Cras a facilisis lacus. Nunc vel suscipit lacus, non facilisis nulla. Sed efficitur semper posuere. Nullam porttitor ipsum blandit libero sagittis, eu sagittis lacus placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p>
                        In fringilla eget nulla sit amet fermentum. Nunc a ipsum sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eu aliquet quam, vel varius lectus. Donec tempus maximus nunc, quis ultricies ligula consectetur nec. Vivamus pharetra felis et nisl interdum, eget feugiat leo volutpat. Proin gravida ligula vel purus maximus, nec sodales sapien finibus. Aliquam erat volutpat. Pellentesque nec magna et lectus condimentum congue non sit amet odio. Vivamus vitae gravida est. Donec quam neque, fringilla congue justo eu, interdum tempor est. Suspendisse a turpis diam. Morbi malesuada pellentesque elementum. Cras viverra enim a aliquet cursus.
                    </p>
                    <p>
                        Donec vitae tellus in eros faucibus elementum. Morbi viverra faucibus massa eu semper. Nam et pellentesque nisl. Nullam egestas neque vel tortor dictum ultrices. Sed ac nisl congue, tempor dui ut, vestibulum lorem. Etiam sed interdum neque, non commodo nulla. Aliquam erat volutpat. Mauris in mauris non orci pretium semper. Vestibulum mattis orci ac metus maximus iaculis. Cras lorem velit, cursus ut imperdiet vel, aliquam at purus. Phasellus a mi eget elit mattis porta. Donec placerat aliquam metus, eu gravida mi faucibus non. Ut lacinia, quam eu placerat cursus, augue tortor sodales risus, id tincidunt odio felis ac nunc. Phasellus ut auctor ipsum. Nulla fermentum blandit malesuada. Aenean eget elementum turpis.
                    </p>
                    <p>
                        Curabitur pellentesque erat eu erat vulputate dictum. Phasellus viverra, risus vel dignissim porta, leo lectus vehicula urna, at sagittis arcu risus eu magna. Duis sagittis justo ut luctus bibendum. Suspendisse feugiat commodo dictum. Etiam vitae risus luctus eros fringilla mollis. Fusce a ullamcorper quam, sed semper nibh. Fusce interdum commodo pharetra. Aliquam erat volutpat. Vivamus volutpat nisl ut eros semper ullamcorper.
                    </p>
                    <p>
                        Nullam vitae lacus aliquet, accumsan nunc nec, accumsan risus. Aenean nisl est, semper ut fringilla sit amet, vestibulum non dui. Vestibulum dictum scelerisque arcu, a suscipit velit dapibus eu. Curabitur vel justo tempor neque cursus molestie posuere ac turpis. Nulla rutrum, felis sit amet scelerisque posuere, nisl lorem mollis tortor, vel pharetra orci felis non nisl. Maecenas ultrices porta leo ac rutrum. Vestibulum tellus erat, maximus mattis ante a, pretium suscipit purus. Proin ipsum leo, gravida ut leo at, imperdiet laoreet sem. Pellentesque tincidunt sem in orci convallis tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non molestie ipsum. Aenean ut hendrerit elit.
                    </p>
            </div>
            <div class="col-md-2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti vero provident magni quisquam eaque explicabo blanditiis quibusdam assumenda quis dolorum ipsa, inventore saepe accusantium porro autem. Asperiores id aspernatur suscipit.
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light bottom">
        <div class="row">
            <div class="col-md-12 text-center">
                Place holder text
            </div>
        </div>
    </div>
</body>

</html>
